.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background-color: white !important;
  border: 1px solid #e5e7eb !important;
  border-radius: 50% !important;
  color: black !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px !important;
  font-weight: bold !important;
}

.swiper-button-disabled {
  opacity: 0 !important;
  cursor: auto !important;
  pointer-events: none !important;
}
